<app-loading *ngIf="localLoading"></app-loading>

<form class="animated fadeInLeft" [(ngClass)]="formClasses" method="POST">

    <mat-form-field appearance="fill">
        <mat-label>Objet</mat-label>
        <input required [formControl]="objet" [(ngModel)]="demande.objet" name="objet" matInput>
      <mat-error *ngIf="valid === false">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Bénéficiaire</mat-label>
        <mat-select required [formControl]="beneficiaire" [(ngModel)]="benef" name="beneficiaire">
            <mat-option *ngFor="let user of users" [value]="user.id">
                {{user.username}}
            </mat-option>
        </mat-select>
      <mat-error *ngIf="valid === false">{{getErrorMessage()}}</mat-error>
    </mat-form-field>



    <mat-form-field appearance="fill">
        <mat-label>Date d'expiration</mat-label>
        <input required [formControl]="date_expiration"  [(ngModel)]="demande.date_expiration" name="date_expiration" matInput [matDatepicker]="picker1">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="valid === false">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Application</mat-label>
        <mat-select required [formControl]="applis"  [(ngModel)]="apps" name="applications" multiple>
            <mat-option *ngFor="let application of applications" [value]="application.id">
                {{ application.nom }} ({{ application.adresse_ip }})
            </mat-option>
        </mat-select>
      <mat-error *ngIf="valid === false">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Procotoles</mat-label>
        <mat-select required [formControl]="protos"  [(ngModel)]="prots" name="protocoles" multiple>
            <mat-option *ngFor="let protocole of protocoles" [value]="protocole.id">
                {{protocole.nom}}
            </mat-option>
        </mat-select>
      <mat-error *ngIf="valid === false">{{getErrorMessage()}}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Description</mat-label>
        <textarea [(ngModel)]="demande.description" name="description" [rows]="rows" matInput></textarea>
    </mat-form-field>

    <button mat-raised-button name="submit" (click)="onSubmit(demande)" class="btn btn-lg btn-block" id="submit"
        type="submit">Envoyer demande <mat-icon>send</mat-icon></button>
</form>
