<div class="row">
    <mat-card routerLink="/nouvelle-demande" class="btn btn-light animated fadeInUp col-md-3 m-4">
        <mat-card-header>
            <mat-card-title>Nouvelle Demande</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-icon>post_add</mat-icon>
        </mat-card-content>

    </mat-card>
    <mat-card (click)="demandesEnAttenteUser()" class="btn btn-light animated fadeInUp col-md-3 m-4">
        <mat-card-header>
            <mat-card-title>Mes demandes en attentes</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-icon>watch_later</mat-icon>
        </mat-card-content>
    </mat-card>

    <mat-card [routerLink]="['/validation-hierarchique/', user.username]"
        class="btn btn-light animated fadeInUp  col-md-3 m-4">
        <mat-card-header>
            <mat-card-title>Demandes à valider</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-icon>thumbs_up_down</mat-icon>
        </mat-card-content>

    </mat-card>
</div>

<div class="row">
    <mat-card [routerLink]="['/demandes/historique/', user.username]"
        class="btn btn-light animated fadeInUp col-md-3 m-4">
        <mat-card-header>
            <mat-card-title>Historique</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-icon>library_books</mat-icon>
        </mat-card-content>
    </mat-card>
</div>