<div id="app-login" class="container-fluid">
    <div class="row">
        <div class="form-container col-sm-12 offset-md-4 col-md-4 p-5">
            <div #alert class="error-message animated flash alert alert-danger alert-dismissible fade show" role="alert"
                *ngIf="credentials == false">
                <strong>{{ getCredentialsErrorMessage() }}</strong>
            </div>
            <form action="" class="login-form" method="post">
                <div class="acc_cp">
                    <mat-icon class="acc_c">account_circle</mat-icon>
                </div><br><br> <br><br>

                <div class="mt-20">
                    <mat-form-field appearance="outline" color="warn" class="mat-focused">
                        <mat-label class="ml">Username</mat-label>
                        <input [formControl]="username" required class="ml" matInput [(ngModel)]="input.username"
                            name="username">
                        <mat-error *ngIf="username.invalid">{{ getRequiredErrorMessage() }}</mat-error>
                    </mat-form-field>
                </div>

                <div>
                    <mat-form-field appearance="outline" color="warn">
                        <mat-label class="ml">Password</mat-label>
                        <input [formControl]="password" required class="ml" matInput [type]="hide ? 'text' :  'password'"
                            [(ngModel)]="input.password" name="password">
                        <mat-error *ngIf="password.invalid">{{ getRequiredErrorMessage() }}</mat-error>
                        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                            [attr.aria-pressed]="hide">
                            <mat-icon>{{hide ? 'visibility' : 'visibility_off' }}</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
                <button matRipple mat-raised-button name="submit" class="btn btn-lg btn-block" id="submit" type="submit"
                    (click)='onLogin()'>Se
                    connecter</button>
            </form>
        </div>
    </div>
</div>