<div id="app-dialog-admin-credential-form">
    <h4 mat-dialog-title>Confirmation validation</h4>
    <div mat-dialog-content>Entrez les informations de connexion VPN</div>
    <div mat-dialog-actions>
        <form method="GET" class="row">
            <mat-form-field appearance="outline" color="warn" class="col-sm-12 mat-focused">
                <mat-label class="ml">Username</mat-label>
                <input required class="ml" matInput [(ngModel)]="data.username" name="username">
            </mat-form-field>

            <mat-form-field appearance="outline" color="warn" class="col-sm-12">
                <mat-label class="ml">Password</mat-label>
                <input required class="ml" matInput [type]="hide ? 'password' : 'text'" [(ngModel)]="data.password" name="password">
                <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'"
                    [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>

            <button class="btn btn-danger col-sm-5" mat-raised-button
                mat-dialog-close mat-dialog-close="false">Annuler</button>
            <button type="submit" (click)="getCredentials()" class="btn btn-success col-sm-5" mat-raised-button>Confirmer</button>
        </form>

    </div>
</div>