<app-navbar></app-navbar>

<div id="app-dashboard">
    <div id="entete" class="container-fluid">
        <div class="row">
            <img class="col-md-3 float-left animated fadeInLeft fibre" src="assets/img/entete.png" height="400" alt="">
            <div class="col-md-6 mt-5 mr-auto">
                <h1 class="mat-display-3 title">VPN à la demande</h1>
                <h1 class="mat-display-1 text-muted subtitle">Le S.I. avec vous partout où vous êtes</h1>
            </div>
            <img class="col-md-3 animated fadeInDown" src="assets/img/secure.png" height="300" alt="">
        </div>
    </div>
    <div class="container" *ngIf="isSecurite() === false && isAdmin() === false">
        <app-dashboard-user></app-dashboard-user>
    </div>
    <div class="container" *ngIf="isSecurite() === true && isAdmin() === false">
        <app-dashboard-securite></app-dashboard-securite>
    </div>
    <div class="container" *ngIf="isSecurite() === false && isAdmin() === true">
        <app-dashboard-admin></app-dashboard-admin>
    </div>
</div>