/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

#app-login, #app-demande{
    background-image: url('./assets/img/curves_left.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
    width: 100%;
}

#app-demande{
    overflow-y: hidden;
}

#app-demande-detail {
    background-image: url('./assets/img/curves_right.jpg');
    background-size: cover;
    background-position: center center;
    height: 100%;
}


#app-demande-en-attente-user, #app-dashboard, #validation-hierarchique {
    background-image: url('./assets/img/curves_down.jpg');
    background-size: 100% 100%;
    background-position: center center;
    height: 100%;
}



#app-dialog-demande-detail {
    max-height: 50%;
}

#entete {
    background-image: url('./assets/img/orange_swoosh.png');
    background-size: cover;
    background-position: center center;
}