<div *ngIf="demande.validation_admin; else refus" class="list">
    <mat-list>
        <h3 mat-subheader>Infos utilisateur</h3>
        <mat-list-item>
            <mat-icon color="warn" mat-list-icon>account_box</mat-icon>
            <h4 mat-line>Demandeur : {{ demande.demandeur.username }}</h4>
        </mat-list-item>

        <mat-list-item>
            <mat-icon color="warn" mat-list-icon>account_box</mat-icon>
            <h4 mat-line>Bénéficiaire : {{ demande.beneficiaire.username }}</h4>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Validation</h3>
        <mat-list-item>
            <mat-icon color="warn" mat-list-icon>how_to_reg</mat-icon>
            <h4 mat-line>Validateur hierarchique : {{ demande.validateur_hierarchique.username }}</h4>
        </mat-list-item>

        <mat-list-item>
            <mat-icon color="warn" mat-list-icon>how_to_reg</mat-icon>
            <h4 mat-line>Validateur sécurité : {{ demande.validateur_securite.user.username }}</h4>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Dates</h3>
        <mat-list-item>
            <mat-icon color="warn" mat-list-icon>today</mat-icon>
            <h4 mat-line>Date de création : {{ demande.date | date: 'full' }}</h4>
        </mat-list-item>

        <mat-list-item>
            <mat-icon color="warn" mat-list-icon>not_interested</mat-icon>
            <h4 mat-line>Date d'expiration demandée : {{ demande.date_expiration | date: 'full' }}
            </h4>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Applications demandées</h3>

        <mat-list-item *ngFor="let application of demande.applications">
            <mat-icon color="warn" mat-list-icon>apps</mat-icon>
            <h4 mat-line>{{application.nom}} ({{application.adresse_ip}})</h4>
        </mat-list-item>

        <mat-divider></mat-divider>

        <h3 mat-subheader>Protocoles demandés</h3>
        <mat-list-item *ngFor="let protocole of demande.protocoles">
            <mat-icon color="warn" mat-list-icon>import_export</mat-icon>
            <h4 mat-line>{{protocole.nom}}</h4>
        </mat-list-item>

    </mat-list>
</div>


<ng-template #refus>
    <div class="list">
        <mat-list>

            <h3 color="warn" mat-subheader>Refus</h3>
            <mat-list-item>
                <mat-icon color="warn" mat-list-icon>how_to_reg</mat-icon>
                <h4 color="warn" mat-line>Origine : {{ demande.status_demande }}</h4>
            </mat-list-item>

            <mat-divider></mat-divider>

            <h3 mat-subheader>Infos utilisateur</h3>
            <mat-list-item>
                <mat-icon color="warn" mat-list-icon>account_box</mat-icon>
                <h4 mat-line>Demandeur : {{ demande.demandeur.username }}</h4>
            </mat-list-item>

            <mat-list-item>
                <mat-icon color="warn" mat-list-icon>account_box</mat-icon>
                <h4 mat-line>Bénéficiaire : {{ demande.beneficiaire.username }}</h4>
            </mat-list-item>

            <mat-divider></mat-divider>

            <h3 mat-subheader>Dates</h3>
            <mat-list-item>
                <mat-icon color="warn" mat-list-icon>today</mat-icon>
                <h4 mat-line>Date de création : {{ demande.date | date: 'full' }}</h4>
            </mat-list-item>

            <mat-list-item>
                <mat-icon color="warn" mat-list-icon>not_interested</mat-icon>
                <h4 mat-line>Date d'expiration demandée : {{ demande.date_expiration | date: 'full' }}
                </h4>
            </mat-list-item>

            <mat-divider></mat-divider>

            <h3 mat-subheader>Applications demandées</h3>

            <mat-list-item *ngFor="let application of demande.applications">
                <mat-icon color="warn" mat-list-icon>apps</mat-icon>
                <h4 mat-line>{{application.nom}} ({{application.adresse_ip}})</h4>
            </mat-list-item>

            <mat-divider></mat-divider>

            <h3 mat-subheader>Protocoles demandés</h3>
            <mat-list-item *ngFor="let protocole of demande.protocoles">
                <mat-icon color="warn" mat-list-icon>import_export</mat-icon>
                <h4 mat-line>{{protocole.nom}}</h4>
            </mat-list-item>

        </mat-list>
    </div>
</ng-template>